body{
  margin: 0 auto;
  padding: 0px;
}
header h1{
  text-align: center;
}

button{
  width: 50%;
  height: 50px;
}

.login-section{
  width: 30%;
  margin: 15% auto;
  text-align: center;
}

#admin{
  margin-bottom: 5%;
}

#user{
  margin-top: 5%;
}
.main-section-tags {
  display: flex;
}

.main-section-tags div {
  padding: 15px;
  color: #347AAD;

}

.main-section-tags div:hover {
  background-color:  #347AAD;
  color: white;
}

.main-section-tags div.active{
  background-color:  #347AAD;
  color: white;
}
.product-content{
  display: none;
  padding: 5%;
}
.product-content div{

  margin-left: 38%;
  margin-right: 38%;
  padding: 10px;
}
.product-list-content{
  display: none;
  padding: 3%;
  background-color: #347AAD;;
}
.product{
  display: block;
  padding: 30px;
  background-color: white;
}
.product-list-action{
  width: 9%;
  height: auto;
  margin-right: 1%;
}
